* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:white;
}

ul {
    list-style:none;
}


/* ASIDE */

aside {
    width: 15rem;
    height: calc(100vh - 7rem);
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999;
}

.aside-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    width: 100%;
}

aside a {
    text-decoration: none;
}

aside .spotify-logo {
    width: 10rem;
}

.aside-top-menu img {
    width: 2rem;
    aspect-ratio: 1/1;
}

.aside-top-menu {
    display: flex;
    height: 100%;
    flex-direction:column;
    align-items: flex-start;
}

.aside-top-menu ul {
    display: flex;
    height: 100%;
    flex-direction:column;
    justify-content: center;
    gap:0.5rem;
}

.aside-top-menu a {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap:0.3rem;
}

/* bordino verde a sinistra di home */

.aside-top-menu li:first-child {
    border-left: 3px solid rgb(140, 201, 55);
    background-clip: padding-box;
    padding: 0 1rem;
    margin-left: -1rem ;
}

.aside-top-menu li:not(:first-child) {
    filter: brightness(50%);
}

.aside-playlist {
    display: flex;
    height: 100%;
    flex-direction:column;
    align-items: flex-start;
}

.aside-playlist ul {
    display: flex;
    height: 100%;
    flex-direction:column;
    justify-content: center;
    gap:1rem;
}

.aside-playlist a {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap:1rem;
}

.aside-playlist h3 {
    text-transform: uppercase;
}

.aside-playlist li:not(:first-child) {
    filter: brightness(50%);
}

.aside-playlist .fa-plus {
    color: black;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.aside-download {
    display: flex;
    height: 100%;
    flex-direction:column;
    align-items: flex-start;
    margin-top: 19rem;
}

.aside-download ul {
    display: flex;
    height: 100%;
    flex-direction:column;
    justify-content: center;
    gap:1rem;
}

.aside-download a {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap:0.3rem;
}

.aside-download hr {
    width: 13rem;
}

.aside-download li:not(:last-child) {
    filter: brightness(50%);
}

.aside-download .fa-circle-user {
    font-size: 1.7rem;
}


/* MAIN */

main {
    width: calc(100vw - 15rem);
    height: calc(100vh - 7rem);
    background-color: green;
    position: fixed;
    right: 0;
    top: 0;
}

main .top-container {
    width: calc(100vw - 15rem);
    height: 7rem;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}



/* FOOTER */

footer {
    height: 7rem;
    background-color: brown;
    position: fixed;
    z-index: 999999999999999999999999;
    bottom: 0;
    left: 0;
    right: 0;
}