@media screen and (max-width: 552px) {

    /* ASIDE */

    aside {
        width: 3rem;
    }

    aside .spotify-logo-large,
    aside span,
    aside .aside-playlist,
    aside hr,
    aside h3   {
        display: none;
    }

    aside .spotify-logo-small {
        display: block;
    }
    
    aside .aside-top {
        padding: 0 0.5rem;
        gap: 1rem;
    }

    .aside-top-menu ul {
        margin: 0 auto;
        padding: 0;
    }
    
    .aside-top-menu li:first-child {
        border-left: 0; 
    }

    .aside-bottom ul {
        align-items: center;
    }





    /* MAIN */
   
    main {
        width: calc(100vw - 3rem);
        left: 3rem;
    }

    main .top-bar-container {
        width: calc(100vw - 3rem);
    }

    /* FOOTER */

}